target
dist
#*#
.#*
*.log
*.iws
.idea
out
*.swp
lib_managed
project/boot
project/build/target
.DS_Store
project/plugins/project/
project/plugins/src_managed/
examples/java/classes
examples/scala/classes
scripts/scala/classes
scripts/scala/jars
scripts/scala/test_*
temp-*
test-*
test.txt
