.DS_Store
target
dist
#*#
.#*
.history
*.log
*.iws
.idea
*.iml
out
*.swp
lib_managed
project/boot
project/build/target
project/idea.properties
project/plugins/project/
project/plugins/src_managed/
sbt-launch.jar

cassovary-benchmarks/cache
